.header {
  height: 60px;
  line-height: 60px;
  background-color: #76cef1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  color: #fff;
}

.header-inline {
  display: flex;
}

.header-title {
  width: 75%;
}

.header-title {
  font-size: 20px;
  margin-left: 110px;
}

.header-links {
  font-size: 16px;
  text-align: right;
  margin-right: 110px;
  width: 25%;
}

.header-links span {
  margin-left: 20px;
  cursor: pointer;
}

.video-chart {
  display: flex;
  margin-top: 100px;
}

.video {
  width: 50%;
}
.video-top-title {
  text-align: center;
  width: 100%;
}

.video-title {
  position: relative;
  height: 0;
  overflow: hidden;
  max-width: 80%;
  height: auto;
  margin-top: 100px;
  margin-left: auto;
  margin-right: auto;
}

#video-title {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  color: #222;
  text-align: center;
}

.chart {
  width: 50%;
}

.chart-top {
  text-align: center;
  width: 100%;
  height: 100px;
}

#info-interaction-title {
  font-size: 30px;
  font-weight: bolder;
  text-align: center;
  color: #222;
  text-align: center;
}

.info-interaction-content {
  padding-top: 30px;
  text-align: center;
  width: 100%;
}

.image-logo {
  width: 500px;
  margin: auto;
}

.img-logo-round {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.budget {
  text-align: center;
  width: 100%;
  margin: auto;
}

.budget-top {
  text-align: center;
  width: 100%;
}

.budget-title {
  text-align: center;
}

.budget-info {
  text-align: center;
}

.budget-fields {
  width: 70%;
  margin: auto;
}

.image-preview {
  border-radius: 5px;
  width: 150px;
  margin-bottom: 20px;
}

.remove-image {
  color: red;
  font-size: 30px;
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .header {
    height: 60px;
    line-height: 60px;
    background-color: #76cef1;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 999999;
    color: #fff;
  }

  .header-inline {
    display: flex;
  }

  .header-title {
    width: 100%;
    text-align: center;
  }

  .header-title {
    font-size: 20px;
    margin: auto;
  }

  .header-links {
    display: none;
  }

  .header-links span {
    display: none;
  }

  .video-chart {
    display: block;
    margin-top: 70px;
  }

  .video {
    width: 100%;
  }
  .video-top-title {
    text-align: center;
    width: 95%;
  }

  .video-title {
    position: relative;
    height: 0;
    overflow: hidden;
    max-width: 80%;
    height: auto;
    margin-top: 0;
    margin-left: auto;
    margin-right: auto;
  }

  #video-title {
    font-size: 15px;
    font-weight: bolder;
    text-align: center;
    color: #222;
    text-align: center;
  }

  .chart {
    width: 95%;
    margin: auto;
  }

  .chart-top {
    text-align: center;
    width: 100%;
    height: 75px;
  }

  #info-interaction-title {
    font-size: 17px;
    font-weight: bolder;
    text-align: center;
    color: #222;
    text-align: center;
  }

  .info-interaction-content {
    padding-top: 0;
    text-align: center;
    width: 100%;
  }

  .image-logo {
    width: 100%;
    margin: 0;
  }

  .canvas {
    margin-top: 100px;
  }

  .budget {
    text-align: center;
    width: 100%;
    margin: 20px auto auto auto;
  }

  .budget-top {
    text-align: center;
    width: 100%;
  }

  .budget-title {
    text-align: center;
    font-size: 18px;
  }

  .budget-info {
    text-align: center;
    font-size: 15px;
  }

  .budget-fields {
    width: 90%;
    margin: auto;
  }

  .image-preview {
    border-radius: 5px;
    width: 100px;
    margin-bottom: 20px;
  }

  .remove-image {
    color: red;
    font-size: 25px;
    cursor: pointer;
  }
}
