.header {
  height: 60px;
  line-height: 60px;
  background-color: #76cef1;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999;
  color: #fff;
}

.header-title {
  font-size: 20px;
  margin-left: 110px;
}

.header-links {
  font-size: 16px;
  text-align: right;
  margin-right: 110px;
}

.header-links span {
  margin-left: 20px;
  cursor: pointer;
}

.img-logo-round {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}

.image1 {
  margin: 0;
}

.services {
  margin-top: -25px;
  background-color: #337cbb;
  color: #fff;
  padding: 50px 150px 50px 150px;
}

.services h2 {
  text-align: center;
  font-size: 35px;
}

.services .info {
  font-size: 25px;
  text-align: justify;
}

.portifolio {
  color: #444;
}

.portifolio .item {
  float: left;
  width: 33.3333333333%;
  padding: 30px;
  box-sizing: border-box;
}

.portifolio h3 {
  text-align: center;
}

.portifolio .info {
  text-align: justify;
}

.sustainable .item {
  width: 50%;
  float: left;
  font-size: 35px;
  color: #5cb85c;
  text-align: center;
  padding: 30px;
  box-sizing: border-box;
}

.sustainable h2 {
  font-size: 35px;
  color: #5cb85c;
  text-align: center;
}

.sustainable h3 {
  color: #5bc0de;
  font-size: 28px;
}

.sustainable .info {
  color: #444;
  font-size: 23px;
  text-align: justify;
}

.contact {
  margin-top: 30px;
  background-color: #337cbb;
  color: #fff;
  padding: 50px 150px 50px 150px;
}

.contact h2 {
  text-align: center;
  font-size: 35px;
}

.contact .info {
  font-size: 25px;
  text-align: justify;
}

.form {
  color: #444;
}

.form-inputs {
  width: 50%;
  margin: auto;
}

.form label {
  margin-bottom: 20px;
}

.footer {
  background-color: #337cbb;
  color: #fff;
  padding: 50px 150px 100px 150px;
  box-sizing: border-box;
  width: 100%;
  height: 250px;
}

.footer .item {
  width: 50%;
  float: left;
  box-sizing: border-box;
}

.footer h2 {
  font-size: 30px;
}

.footer .social {
  text-align: right;
}

.icon-social {
  cursor: pointer;
}

@media only screen and (max-width: 800px) {
  .header-links {
    display: none;
  }

  .header-title {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin: auto;
  }

  .services {
    margin-top: -25px;
    background-color: #337cbb;
    color: #fff;
    padding: 20px;
    text-align: center;
  }

  .services h2 {
    text-align: center;
    font-size: 22px;
  }

  .services .info {
    font-size: 18px;
    text-align: justify;
  }

  .portifolio {
    color: #444;
  }

  .portifolio .item {
    float: none;
    width: 100%;
    padding: 0;
  }

  .portifolio h3 {
    text-align: center;
  }

  .portifolio .info {
    text-align: justify;
  }

  .sustainable .item {
    width: 100%;
    float: none;
    font-size: 30px;
    color: #5cb85c;
    text-align: center;
    padding: 0;
    box-sizing: border-box;
  }

  .sustainable h2 {
    font-size: 22px;
    color: #5cb85c;
    text-align: center;
  }

  .sustainable h3 {
    color: #5bc0de;
    font-size: 20px;
  }

  .sustainable .info {
    padding: 20px;
    font-size: 16px;
  }

  .form-inputs {
    width: 80%;
    margin: auto;
  }

  .contact {
    margin-top: 30px;
    background-color: #337cbb;
    color: #fff;
    padding: 10px;
  }

  .contact h2 {
    text-align: center;
    font-size: 20px;
  }

  .contact .info {
    font-size: 16px;
    text-align: justify;
  }

  .footer {
    background-color: #337cbb;
    color: #fff;
    padding-left: 5%;
    padding-right: 5%;
    padding-bottom: 30px;
    width: 100%;
    height: 200px;
  }

  .footer .info {
    font-size: 12px;
  }

  .footer h2 {
    font-size: 15px;
  }

  .footer .social {
    text-align: right;
  }
}
